<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      AC1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false"
  [scrollEvents]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">AC1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">

    <!-----exercicio 1---->
    <h3>ONG</h3>
    

    <ion-item>
      <ion-input placeholder="Valor recebido em BRL R$" type="number" [(ngModel)]="valor_dolar" ></ion-input>
    </ion-item>

     <ion-item>
      <ion-input placeholder="Valor atual em USD $" type="number" [(ngModel)]="valor_real" ></ion-input>
    </ion-item> <br>

    <ion-button color="medium" (click) = "Multiplicar()">
      Valor convertido
    </ion-button> 

    <ion-item>
      <ion-input type="text" readonly value={{valorConvertido}}></ion-input>
    </ion-item>

    <!-----exercicio 2---->
    <h3>NOTA</h3>

  
    <ion-item>
      <ion-input placeholder="Nota da AGH" type="number" [(ngModel)] = "nota_agh"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Nota da AC" type="number" [(ngModel)] = "nota_ac"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input placeholder="Nota da AT" type="number" [(ngModel)] = "nota_at"></ion-input>
    </ion-item> <br>

    <ion-button color="medium" (click) = "Nota()">
      Calcular nota final
    </ion-button>

    <ion-item>
      <ion-input type="text" readonly value={{nota}}></ion-input>
    </ion-item>

  </div>
</ion-content>
